h1{
  text-align: center;
}


.wrapper{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
}
.wrapper .input{
  width: 85%;
  padding: 15px 20px;
  font-weight: bold;
}

.myDivTest{
  position: absolute;
  top: 50%;
  left: 45%;

}
.bilde{
  position: absolute;
  top: 20%;
  left: 43%;
}