main{
    text-align: center;
    margin-top: 30%;
}

.button{
    background-color: white;
  border: solid;
  color: black;
  padding: 35px 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  table-layout: fixed;
  width: 50%;
}

.input{
    width: 70%;
    padding: 40px 40px;
    margin: 8px 0;
    box-sizing: border-box;
}
a{
    color: transparent;

}
p{
    font-size: 24px;
}
h1{
    font-size: 48px;
}

input,
input::-webkit-input-placeholder {
    font-size: 24px;
    line-height: 3;
    color: black;
}

img{
    width: 50%;
}
#return{
    background-color: transparent;
    border: transparent;
    width: 20%;
    float: left;
    margin-top: 5%;
}