main{
   text-align: center;
   margin-top: 50%;
}

.button{
    background-color: white;
  border: solid;
  color: black;
  padding: 70px 140px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  table-layout: fixed;
  width: 80%;
}
a{
    color: transparent;

}
h1{
    font-size: 48px;
}
p{
    font-size: 24px;
}
img{
    width: 50%;
}